## Database credentials
DB_URL="postgresql://[user]:[password]@[host]:[port]/[database_name]"

## TriviaAPI credentials
TriviaAPI_URL="https://opentdb.com/api.php?amount=10"

## Environment info
ENV="dev"

## JWT
JWT_SECRET="dev-secret-change-me"
